body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #3a7ca5;
    padding: 20px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: #3a7ca5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2a5d7d;
}

.redes-sociales a {
    margin: 10px;
    color: #3a7ca5;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}



